{% extends "base.html.twig" %}

{% block header %}
    <div class="text-box">
        <h1>MCITEMY.PL</h1>
        <p>Twoj Wiarygodny Sklep Itemow Do Serwera Minecraft<br>Kliknij Ponizej zeby zobaczyc sklep!</p>
        <a href="/category" class="hero-btn">SKLEP</a>
    </div>
{% endblock %}
